/*======================================
   41. Digital Agency Pages Css
======================================*/
.digital-agency-section-title {
    h1,h2,h3,h4,h5,h6 {
        color: #333;
    }
    & h3 {
        line-height: 1.4;
    }
    & .section-sub-title{
        color: #ee7455;
        font-size: 14px;
    }
    
}

.digital-agency-grid {
    display: grid;
    grid-template-columns: repeat( 3,1fr);
    grid-column-gap: 70px;
    grid-row-gap: 50px;
    @media #{$tablet-device}{
        grid-template-columns: repeat( 2,1fr);
    }
    @media #{$large-mobile}{
        grid-template-columns: repeat( 1,1fr);
    }
}
.degital-agency-start-working {
    .digital-agency-grid {
        @media #{$tablet-device}{
            grid-template-columns: repeat( 2,1fr);
            & .tb-grid-width-2 {
                grid-column: span 2;
            } 
        }
        @media #{$large-mobile}{
            grid-template-columns: repeat( 2,1fr);
            & .tb-grid-width-2 {
                grid-column: span 2;
            } 
        }
        @media #{$small-mobile}{
            grid-template-columns: repeat( 1,1fr);
            & .tb-grid-width-2 {
                grid-column: span 1;
            } 
        }
        
    }
}
.digital-agency-assistance, 
.digital-agency-working {
    &__warap {
        max-width: 370px;
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        
        &:hover {
            & .digital-agency-assistance__box {
                transform: translateY(-5px);
            }
        }
        @media #{$tablet-device,$large-mobile}{
            align-items: center;
            margin-left: auto;
            margin-right: auto;
        }
    }
    &__box {
        transition: $transition--default;
    }
    &__images {
        position: relative;
        border-radius: 5px;
        overflow: hidden;
        & .images-midea {
            text-align: center;
            & img {
                width: 100%;
                transition: transform 1s;
            }
            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                opacity: .5;
                background-image: linear-gradient(-180deg, transparent 39%, #1c0f69 100%);
            }
            &:hover {
                & img {
                    transform: scale(1.1, 1.1);
                }
            }
            & .heading {
                position: absolute;
                bottom: 30px;
                left: 0;
                right: 0;
                font-size: 24px;
                line-height: 1.5;
                color: #fff;
                max-width: 250px;
                margin: 0 auto;
                z-index: 1;
            }
        }
    }
    &__content {
        & p {
            color: #7e7e7e;
            & strong {
                color: #333;
                font-weight: 500;
            }
        } 
    }
}
.digital-agency-working {
    &__warap {
        @media #{$tablet-device,$large-mobile}{
            align-items: flex-start;
            margin-left: 0;
            margin-right: 0;
        }
        @media #{$small-mobile}{
            align-items: center;
            max-width: auto;
            margin-left: auto;
            margin-right: auto;
        }
    }
    &__images {
        & .images-midea {
            & .heading {
                font-size: 18px;
                text-align: left;
                @media #{$large-mobile}{
                    margin-left: 15px;
                }
            }
        }
    }
}
.how-it-works-bg {
    background: url("../assets/img/patterns/aeroland-digital-agency-image-04.png");
    background-repeat: no-repeat;
    background-position: 42% center;
}


.how-it-works {
    &__content {
        max-width: 470px;
        width: 100%;
        margin-left: 115px;
        @media #{$desktop-device}{
            margin-left: 0;
        }
        @media #{$tablet-device,$large-mobile}{
            margin-left: 0;
            margin-top: 40px;
        }
        
        & .section-title {
            color: #333;
            margin-bottom: 30px;
        }
        & .text {
            font-size: 18px;
        }
        & .check-list {
            & .list-item {
                font-size: 18px;
            }
        }
    }
}

.agency-projects-gradient {
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#F6F5F9),color-stop(71%,#FFF));
    z-index: -0;
}

.degital-agency-projects-wrap {
    margin-top: -30px;
}

.degital-project-text-bg {
    background: url("../assets/img/agency/aeroland-digital-agency-image-06.png");
    background-repeat: no-repeat;
    background-position: top 240px center;
}

.agency-projects {
    &--wrap {
        position: relative;
        transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
        &:hover {
            & .post-overlay-title {
                opacity: 0;
                visibility: hidden;
                transform: translateY(-20px);
            }
            & .post-overlay-read-more {
                opacity: 1;
                visibility: visible;
                transform: none;
            }
        }
        a {
            // responsive
            @media #{$large-mobile}{
                width: 100%;
            }
            img {
                // responsive
                @media #{$large-mobile}{
                    width: 100%;
                }
            }
        }
    }
    &__images {
        & img {
            border-radius: 5px;
        }
    }
    &__content {
        position: absolute;
        right: 30px;
        left: 30px;
        bottom: 21px;
        & .post-overlay-title {
            font-size: 18px;
            line-height: 1.78;
            color: #fff;
                transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
        }
        & .post-overlay-read-more {
            font-size: 18px;
            line-height: 1.78;
            color: #fff;
            margin: 0;
            position: absolute;
            left: 0;
            bottom: 0;
            opacity: 0;
            visibility: hidden;
            transform: translateY(20px);
            transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
            & span {
                margin-left: 5px;
            } 
        }
    }
}

.agency-newsletter-section {
    & .newsletter-form--two input {
        background: #fff;
    }
}

.degital-agency-start-working  {
    & .contact-button {
        & a {
            font-size: 18px;
            line-height: 1.23;
            font-weight: 500;
        }
    }
}
.degital-agency-free-mode-wrap {
    overflow: hidden;
    
    & .digital-agency-section-title-area {
        & .agency-free-mode-button{
            margin-top: 30px;
            text-align: right;
            // responsive
            @media #{$tablet-device, $large-mobile}{
                text-align: left;
            }
            & a {
                min-width: 170px;
            }
        } 
        & .contact-button {
            & a {
                font-size: 18px;
                line-height: 1.23;
                font-weight: 500;
            }
        }
    }
    
    & .auto-plexible-row {
        & .swiper-slide {
            width: auto !important;
        }
        & .single-flexible-slider img{
            height: auto;
        }
    }
    
    & .flexible-image-slider-wrap {
        margin-right: -375px !important;
    }
}
.agency-free-mode-bg {
    background: url("../assets/img/patterns/aeroland-digital-agency-image-05.png");
    background-repeat: no-repeat;
    background-position: left -200px bottom 150px;
}

.how-it-works__content.section-space--mb_60 {
    @media #{$tablet-device,$large-mobile}{
        margin-bottom: 0;
    }
}

.degital-agency-free-mode-wrap.section-space--pt_60 {
    @media #{$tablet-device,$large-mobile}{
        padding-top: 0;
    }
}

/*-----COURSE PAGE-----*/
.course{
    width: 80%;
    margin: auto;
    text-align: center;

}
h1{
    font-size: 36px;
    font-weight: 600;
}
p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.course-col{
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
h4{
    text-align: center;
    font-weight: 400;
    margin: 10px 0;
}
.course-col:hover{
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);
}
@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
}

/*-----COURSE PAGE-----*/
.campus{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.campus-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.campus-col img{
    width: 100%;
    display: block;
}
.campus-col h4{
    color: black;
}
.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.layer:hover{
    background: rgba(0, 200, 226, 0.7);
}
.layer h4{
    width: 100%;
    font-weight: 400;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.layer:hover h4{
    bottom: 49%;
    opacity: 1;
}

/*-----FACILITIES PAGE-----*/
.facilities{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.facilities-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}
.facilities-col img{
    width: 100%;
    border-radius: 10px;
}
.facilities-col p{
    padding: 0;
}
.facilities-col h4{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}

/*-----FACILITIES PAGE-----*/
.cta{
    margin: 100px auto;
    width: 80%;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
    background-color: #1c0f69;
}
.cta h1{
    margin-bottom:40px;
    padding: 0;
    color: white;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
    color: white;
    transition: 1s;
}